body {
    background-color: hsl(0, 0%, 98%);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.transparent {
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
}
nav{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
#arrow-down {
    max-width: 50px;
    height: 5px;
    margin-top: 37px;
    margin-left: -2vw;
}
#arrow-up {
    max-width: 50px;
    height: 5px;
    margin-top: 37px;
    margin-left: -2vw;
    display: none;
}
.images {
    display: flex;
    gap: 30px;
    margin: 100px 0;
    /* flex-wrap: wrap;  */
}
#footer-img {
    width: 90px;
    height: 30px;
}
#register {
    border: 2px solid gray;
    border-radius: 15px;
    padding: 5px;
    width: 70px;
    text-align: center;
    margin-top: auto;
}
.nav {
    display: flex;
    gap: 30px;
    width: 50vw;
}
.auth{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
h6 {
    color: grey;
}
/* .sel {
    display: flex;
    justify-content: space-evenly;
} */
#select1 {
    position: absolute;
    background-color: white;
    top: 70px;
    left: 70px;
    border-radius: 10px;
    box-shadow: 2px 2px 25px 2px rgba(128, 128, 128, 0.4);
    font-size: 15px;
    color: gray;
    width: 120px;
    text-align: center;
    display: none;
}
#select2{
    position: absolute;
    background-color: white;
    top: 70px;
    left: 190px;
    border-radius: 10px;
    box-shadow: 2px 2px 25px 2px rgba(128, 128, 128, 0.4);
    font-size: 15px;
    color: gray;
    width: 120px;
    text-align: center;
    display: none;
}
#select1:hover {
    background-color: black;
}
#mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255); /* Semi-transparent background */
    z-index: 999;
    padding: 20px;
    font-family: 'Arial Narrow';
    font-weight: 700;
    p{
        margin: 30px 0;
    }
    #reg{
        border: 2px solid gray;
        border-radius: 15px;
        padding: 10px;
        margin-top: -10px;
    }
    #mobile-auth {
        margin-top: 50px;
        text-align: center;
    }
}
h3 {
    color: white;
    background-color: black;
    padding: 15px;
    max-width: 120px;
    font-family: serif;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 50px;
}
h3:hover {
    background-color: hsl(0, 0%, 98%);
    color: black;
    border: 2px solid black;
    cursor: pointer;
}
.hero-img {
    max-width: 100%;
    max-height: 500px;
}
.top {
    display: none;
}
main {
    display: flex;
    margin: 0 100px;
    justify-content: space-around;
    flex-wrap: wrap;
}
#hero-text {
    max-width: 450px;
    font-weight: lighter;
}
h1 {
    font-size: 80px;
}
p{
    color: grey;
    margin-top: -20px;
}

/* MEDIA QUERY */
@media (max-width : 1200px){
    main {
        flex-direction: column-reverse;
    }
}
@media (max-width: 450px) {
    nav  {
        display: none;
    }
    body {
        margin: 0;
    }
    .top {
        display: flex;
        justify-content:space-between;
        margin: 0 20px;
        h2 {
            font-size:40px;
        }
    }
    .images {
        margin-left: 10px;
        margin-right: 10px;
    }
    #menu-icon {
        margin-top: 45px;
        height: 20px;
        width: 35px;
    }
    .nav > h2 {
        display: none;
    }
    .auth {
        display: none;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin: 0;
    }
    #hero-text {
        text-align: center;
    }
    h1 {
        font-size: 60px;
    }
    .hero-img {
        height: 400px;
    }
    h3 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .images {
        display: flex;
        justify-content: space-evenly;
    }
    #footer-img {
        max-width: 65px;
        height: 30px;        
    }

}